body{
	background-color: #283D3B;
	color: #FFFCF6;
}

.hello{
	font-size: 2em;
	font-family: 'Petit Formal Script', cursive;
	color: #00976C;
}
.body-copy{
	font-family:'Lato', sans-serif;
	font-weight:300;
}
a{
	color:#CC2255;
}
a:hover{
    color:#E79AB1;
    text-decoration:underline
}
.navbar{
    border-radius:0;
    	font-family:'Lato', sans-serif;
	font-weight:400;
}
.center{
	position:fixed;
	top:50%;
	left:50%;
	transform: translate(-50%, -50%);
}
.container{
    max-width:100%;
}